.productslist-noresult-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:6rem;

    img{
        width:10rem;
        max-height: 100%;
        margin:0 auto;
        
    }

    .info{
        margin-top: 2rem;
    }


}





 

