@mixin flexbox($direction, $justify-content){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content
}

$highlightcolor:#f0c36c;



.searchbartrial {
  
  //display: grid;
  //grid-template-rows: 1fr 1fr 1fr 1fr;
  //grid-template-columns: 1fr;

  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  height:20rem;
  padding:1rem 0;

  
  .newTitle{
      color:white;
      text-align: center;
      font-family: 'Work Sans', sans-serif;
      font-size:2rem;

  }

  .SearchBar-sort-options ul {
    @include flexbox(row, center);
    text-align: center;
    color: white;
    li {
        cursor: pointer;
        width: 4.33rem;
        border-bottom: 1px solid #fff;
        padding: 0 2.58rem .33rem 2.58rem;
        line-height: 1.13;
        text-align: center;
        font: {
          weight:600;
          size:.83rem;
        };
        transition: color .25s;
        list-style-type: none;
        &:hover {
          color: #d4cfcf;
        };
        &.active, &.active:hover {
          border-bottom: 1px solid $highlightcolor;
          color: $highlightcolor;
        }
      }
  }
  
  .SearchBar-fields {
    @include flexbox(column, center);
    align-items: center;

  
    input {
      
      margin-bottom: .86rem;
      width: 21rem;
      padding: .66rem 1rem;
      outline:none;
      border: 1px solid #fff;
   
      border-radius: 4px;
      font: {
        size:.77rem;
        weight:500;
      }
     
      &:last-child {
        margin-right:0rem;
     }
    }
  }
  
  
  .SearchBar-submit {

    text-align: center;
    a {
      border-radius: 4px;
      padding: .72rem 1.7rem;
      background-color: #cca353;
      color: #ffffff;
      font-weight: 600;
      transition: background-color .5s;
      &:hover {
        cursor: pointer;
        background-color: #a7874b;
      }
    }

  }
  


  @media only screen and (min-width: 800px) {

   
      
    
      padding-bottom: 1.8rem;
    
    
  
    .SearchBar-sort-options ul {
      margin-bottom: 2.22rem;

    }
  
    .SearchBar-fields {
      
      @include flexbox(row, center);
     
    }
  
    .SearchBar-fields input {
      margin-right: 2.22rem;
      padding: .66rem 1rem;
    }

    .newTitle{
      color:white;
      text-align: center;
      font-family: 'Work Sans', sans-serif;
      font-size:3rem;
      margin: .5rem 0;

    }
  }

}