.loading-container {
    text-align:center;
    margin: {
        top:2rem;
        bottom: 8rem;
    };
    
   .loading-title {
     font: {
         size:1rem;
         weight:bold;
     }

   }

   .loading-animation{
     margin: 5rem auto;
     height:50px;
     width: 50px;
     border: 5px solid lightgrey;
     border: {
         
         radius:50%;
         right: 5px solid blue;
     };
     animation: spin 1s ease infinite;
   }

}


@keyframes spin {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}