$logocolor:#CCA353;
$highlightcolor:rgb(51, 9, 240);
$normalblack:rgb(5,5,5);
%pfont{
  font-size: .88rem;
  line-height:1rem;
};

@mixin flexbox($direction, $justify-content){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content
}

.Business {

  @include flexbox(column, space-between);
    margin: 0 .5rem 2.3rem .5rem;
    width: 16.66rem;

  .image-container {
        
        margin-bottom: 1rem;
       
        img{
          height:14rem;
          max-height:100%;
          max-width:100;
          object-fit: fill;
          width:100%;
        }
  }

  h2 {
        margin-bottom: .5rem;
        font-size: 1.2rem;
        font-weight:600
  }

  
  .Business-information {

    @include flexbox(row, space-between);

    p {
      @extend %pfont;  
        font-weight:300;
      }

    .Business-reviews {

        @include flexbox(column, space-between);
        
        text-align:right;
    
        h3 {
            color:$logocolor;
            font-weight:600;
          }
          h3:nth-of-type(2){
            @extend %pfont;  
          }
    }
      
    .Business-address {
        @include flexbox(column, space-between);
    
         a {
            text-decoration: none;
          
          &:link {
            color: $normalblack;
          }
          
           &:visited {
            color: $highlightcolor;
          }
           &:hover {
            color:$highlightcolor;
          }
    
        }
    }

  }
  
}